{% extends 'padre.html' %}


{% block contenidoQueCambia %}

<p>Lista de Tiendas: </p>
    <ul>
        
        {% for tienda in lista_tiendas  %}
            
            <li> <a style="font-weight: bold;">{{tienda.nombre}} </a> en la ciudad de  <a style="font-weight: bold;">{{tienda.ciudad}} </a> con el código: <a style="font-weight: bold;">{{tienda.codigoTienda}}</a>
            </li>    

        {% endfor %}

    </ul>

    <a href="{% url 'TiendaFormulario' %}">Crear tienda</a>

{% endblock contenidoQueCambia %}
  